
/**
*    VARIABLES
*
*       #Colors
*       #Colors btn
*       #Fonts
*       #Btn
*/




// ----------------------------------------------------------------------------
// COLORS
// ----------------------------------------------------------------------------

// White and Black

$night:                     #051039 !default;
$smoke:                     #82879C !default;
$cloud:                     #95989A !default;
$light:                     #ffffff !default;

// Brand
$brand-primary:             $night !default;
$brand-success:             #4CD684 !default;
$brand-info:                #A2EED9 !default;
$brand-warning:             #E9D186 !default;
$brand-danger:              #E4554D !default;
